<!DOCTYPE html>
html(lang="ja")
  head
    link(href="" rel="canonical")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    include ./includes/head/_seo-includes.pug
      
    link(rel="icon", href="favicon.ico")

    link(rel="stylesheet", href="./assets/css/main.css")
      
  body
    section#wrapper.skewed
      .layer.bottom
        .content-wrap
          .content-body
            h1 Look Sharp
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure hic, dignissimos maiores eum, doloremque enim architecto repellendus minus quaerat maxime!
          <img src="./assets/img/pc1.png" alt="">
            
      .layer.top
        .content-wrap
          .content-body
            h1 Stay Cool
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure hic, dignissimos maiores eum, doloremque enim architecto repellendus minus quaerat maxime!
          <img src="./assets/img/pc2.png" alt="">
      
      .handle
    
    script(src="./assets/js/main.js")
