title Split Screen Slider
//meta(name="description" content="")

// Google Analytics Snippet
//include ./_googleAnalytics.pug
// Microdata
//include ./_microdata.html
// OpenGraph
//include ./_opengraph.pug
// Twitter Card
//include ./_twitter-card.pug
